<style>
  .client {
    width: 100%;
    background: radial-gradient(circle at center, #074299 0%, #001432 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .client-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .client-container h1 {
    font-size: 3rem;
  }
</style>

<section class="client" id="client">
    <div class="client-container">
        <h1>Our Clients</h1>
        <div class="clients"></div>
    </div>
</section>
