<style>
  .industry {
    width: 100%;
    background: radial-gradient(circle at center, #074299 0%, #001432 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .industry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .industry-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .industry-container p {
    width: 80%;
    font-size: 1.07rem;
    color: rgb(182, 182, 182);
    text-align: center;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .indus-cards {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}
  .indus-card {
    background-color: #6c63ff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
  .indus-card img {
    background-color: #001432;
    border-radius: 50%;
    padding: 1rem;
  }
  .indus-card p {
    font-weight: 600;
    color: black;
    text-align: start;
    margin: 0;
  }
  .ind-card-1 img {
    background-color: #074299;
  }
  .ind-card-2 {
    background-color: rgb(255, 196, 86);
  }
  .ind-card-2 img {
    background-color: orange;
  }
  .ind-card-3 {
    background-color: rgb(86, 255, 86);
  }
  .ind-card-3 img {
    background-color: rgb(4, 223, 4);
  }
  .ind-card-4 {
    background-color: rgb(215, 215, 69);
  }
  .ind-card-4 img {
    background-color: rgb(199, 199, 41);
  }
  .ind-card-5 {
    background-color: rgb(195, 0, 255);
  }
  .ind-card-5 img {
    background-color: rgb(170, 7, 219);
  }
  .ind-card-6 {
    background-color: rgb(57, 218, 233);
  }
  .ind-card-6 img {
    background-color: rgb(47, 181, 193);
  }
  .ind-card-7 {
    background-color: rgb(255, 122, 228);
  }
  .ind-card-7 img {
    background-color: rgb(215, 102, 192);
  }
  .ind-card-8 {
    background-color: rgb(215, 215, 69);
  }
  .ind-card-8 img {
    background-color: rgb(199, 199, 41);
  }
</style>

<section class="industry" id="industry">
  <div class="industry-container">
    <h1>Industries we provide</h1>
    <p>
      Discover the wide range of industries we empower with tailored solutions.
      From finance, healthcare, and education to manufacturing, retail, and
      technology, our expertise adapts to your sector’s unique challenges.
      Explore how we help each industry thrive with smart, scalable strategies.
    </p>
    <div class="indus-cards">
      <div class="indus-card ind-card-1">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/officel/45/palace.png"
          alt="palace"
        />
        <p>Business & Entrepreneurship</p>
      </div>

      <div class="indus-card ind-card-2">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/50/external-social-media-marketing-digital-nomad-flaticons-lineal-color-flat-icons-2.png"
          alt="palace"
        />
        <p>Social Media Marketing</p>
      </div>

      <div class="indus-card ind-card-3">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/fluency/48/imac-settings.png"
          alt="palace"
        />
        <p>Web Development</p>
      </div>

      <div class="indus-card ind-card-4">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-health-care-inhome-service-flaticons-flat-flat-icons-4.png"
          alt="palace"
        />
        <p>Health Care</p>
      </div>

      <div class="indus-card ind-card-5">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/50/external-project-management-gig-economy-flaticons-lineal-color-flat-icons.png"
          alt="palace"
        />
        <p>Project Management</p>
      </div>

      <div class="indus-card ind-card-6">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/external-illustrations-smashing-stocks/50/external-Financial-Planning-economy-illustration-illustrations-smashing-stocks.png"
          alt="palace"
        />
        <p>Financial Planning</p>
      </div>

      <div class="indus-card ind-card-7">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/dusk/50/web-design.png"
          alt="palace"
        />
        <p>UX/UI Design Principles</p>
      </div>

      <div class="indus-card ind-card-8">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/nolan/64/online-order.png"
          alt="palace"
        />
        <p>E-commerce</p>
      </div>

      <div class="indus-card ind-card-9">
        <img
          width="45"
          height="45"
          src="https://img.icons8.com/color/48/leadership--v2.png"
          alt="palace"
        />
        <p>Leadership and Management</p>
      </div>
    </div>
  </div>
</section>
